/*
Developer name: Jeandre Melaria
Project title: Legros Inc - Dashboard
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Less
Editor tool: Visual Studio Code
Database:  -
Project type: Dashboard.
File created date: 18.01.2018
Last modified:
*/
.body {
  font-family: 'Roboto', sans-serif;
  background-color: #d3d3d3;
}
.sideMenu {
  padding-top: 100px;
  background: #2E0854;
  max-width: 200px;
}
.sideMenu__link {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 300px;
  font-size: 1rem;
}
.sideMenu__link:hover {
  background: #4B0082;
  color: #FFFFFF;
  border-right: 5px solid #92CF48;
}
.sideMenu__link:hover:active {
  color: #7e7e7e;
  border-right: 5px solid #168C00;
  padding: 15px 30px 15px 25px;
}
.sideMenu .fa {
  display: inline-block;
  color: #92CF48;
  margin-right: 0.2rem;
  width: 30px;
  font-size: 1.4rem;
}
.sideMenu__link--style {
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 300px;
  font-size: 1rem;
}
.sideMenu__link--fontSize {
  font-size: 1.4rem;
}
* {
  box-sizing: border-box;
}
