/*
Developer name: Jeandre Melaria
Project title: Legros Inc - Dashboard
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Less
Editor tool: Visual Studio Code
Database:  -
Project type: Dashboard.
File created date: 18.01.2018
Last modified:
*/

// === === Table of contents === === //
// - Variables
// - Functions
// - Mixings
// - General 
// - Media queries

// === === Variables === === //
@headerHeight: 100px;
@headerZ-index: 1030;
@headerBackgroundColor:
// === === Functions === === //

// === === Mixings === === //
.headerMain{
  position: relative;
  max-height: 100px;
  z-index: 1030;
  background-color: red;
}


// === === General === === //


// === === Media queries === === //
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }