/*
Developer name: Jeandre Melaria
Project title: Legros Inc - Dashboard
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Less
Editor tool: Visual Studio Code
Database:  -
Project type: Dashboard.
File created date: 18.01.2018
Last modified:
*/
.body {
  font-family: 'Roboto', sans-serif;
  background-color: #d3d3d3;
}
.sideMenu {
  padding-top: 100px;
  background: #2E0854;
  width: 14.3rem;
  position: absolute;
  top: 0;
  bottom: 0;
}
.sideMenu__link {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 21.4rem;
  font-size: 1rem;
}
.sideMenu__link:hover {
  background: #4B0082;
  color: #FFFFFF;
  border-right: 5px solid #92CF48;
  transition: all 0.3s ease-in-out;
  padding: 15px 30px 15px 25px;
}
.sideMenu__link:hover .fa {
  color: #92CF48;
}
.sideMenu__link:hover:active {
  color: #7e7e7e;
  border-right: 5px solid #168C00;
  padding: 15px 30px 15px 25px;
}
.sideMenu__link:hover:active .fa {
  color: #92CF48;
}
.sideMenu .fa {
  display: inline-block;
  color: #7e7e7e;
  margin-right: 0.2rem;
  width: -155.7rem;
  font-size: 1.4rem;
  position: relative;
  top: 3px;
}
.sideMenu__link--active {
  background: #4B0082;
  color: #FFFFFF;
  border-right: 5px solid #168C00;
  padding: 15px 30px 15px 25px;
}
.sideMenu__link--active .fa {
  color: #92CF48;
}
.sideMenu__link--style {
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 21.4rem;
  font-size: 1rem;
}
.sideMenu__link--fontSize {
  font-size: 1.4rem;
}
.header {
  margin-left: 14.2rem;
  padding: 15px;
  background-color: #FFFFFF;
}
.header .searchArea {
  display: inline-block;
  color: #7e7e7e;
}
.header .searchArea .searchArea__input--style {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  color: #92CF48;
  padding: 5px;
  font-weight: 7.1rem;
  width: 30rem;
  margin-left: 1rem;
  transition: all 0.5s ease-in-out;
}
.header .searchArea .searchArea__input--style:hover {
  background: #d3d3d3;
}
.header .searchArea textarea:focus,
.header .searchArea input:focus {
  outline: none;
}
.header .userFieldArea {
  float: right;
}
.header .userFieldArea .badge {
  display: inline-block;
  font-size: 0.7rem;
  text-align: center;
  position: relative;
  top: -9px;
  left: -13px;
}
.header .userFieldArea .userFieldArea__link {
  display: inline-block;
  padding-right: 5px;
  padding-top: 10px;
  vertical-align: top;
  text-decoration: none;
  position: relative;
  margin-right: 0.36rem;
}
.header .userFieldArea .userFieldArea__link--color {
  color: #7e7e7e;
}
.header .userFieldArea .userFieldArea__userImg {
  display: inline-block;
  margin-left: -1.07rem;
}
.header .userFieldArea .userFieldArea__userImg--img {
  display: inline-block;
  position: relative;
  top: -1.8rem;
  margin-top: 0.71rem;
  vertical-align: top;
  border-radius: 50%;
  width: 3.5rem;
}
.header .fa {
  font-size: 1.4rem;
}
.fa--darkGrey {
  color: #7e7e7e;
}
* {
  box-sizing: border-box;
}
