/*
Developer name: Jeandre Melaria
Project title: Legros Inc - Dashboard
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Less
Editor tool: Visual Studio Code
Database:  -
Project type: Dashboard.
File created date: 18.01.2018
Last modified:
*/
.body {
  font-family: 'Roboto', sans-serif;
  background-color: #d3d3d3;
}
.sideMenu {
  background: #2E0854;
  max-width: 200px;
}
.sideMenu__link {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
}
.sideMenu__link:hover {
  background: #4B0082;
}
.sideMenu__link:hover:active {
  background: #2E0854;
}
.link--style {
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
}
* {
  box-sizing: border-box;
}
