/*
Developer name: Jeandre Melaria
Project title: Legros Inc - Dashboard
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Less
Editor tool: Visual Studio Code
Database:  -
Project type: Dashboard.
File created date: 18.01.2018
Last modified:
*/

// === === Table of contents === === //
// - Variables
// - Functions
// - Mixings
// - General
// - Media queries
// === === Variables === === //
// Colors
@purpleLight: #4B0082;
@purpleDark: #2E0854;
@green: #168C00;
@greenNeon: #92CF48;
@lightGrey: #d3d3d3;
@darkGrey: #7e7e7e;
@white: #FFFFFF;
// Font
@fontFamily: 'Roboto',
sans-serif;
@fontWeight: 400;
@fontSize: 1.4rem;
//General
@width: 14.3rem;
@margin: 0.2rem;
@padding: 30px;
@borderSideMenuHover: 5px solid @greenNeon;
@borderSideMenuActive: 5px solid @green;
// === === Functions === === //
// === === Mixings === === //
.body {
    font-family: @fontFamily;
    background-color: @lightGrey;
}
//Navigation
.sideMenu {
     padding-top: (@padding + 70px);
     background: @purpleDark;
     width: @width;
     position: absolute;
     top: 0;
     bottom: 0;
    &__link {
        display: block;
        .sideMenu__link--style;
        &:hover {
            background: @purpleLight;
            color: @white;
            border-right: @borderSideMenuHover;
            transition: all 0.3s ease-in-out;
            padding: (@padding - 15px) @padding (@padding - 15px) (@padding - 5px);
            text-decoration: none;

            .fa {color: @greenNeon;}

            &:active {
                color: @darkGrey;
                border-right: @borderSideMenuActive;
                padding: (@padding - 15px) @padding (@padding - 15px) (@padding - 5px);

                .fa{color: @greenNeon;}
            }
        }

    }
    .fa {
        display: inline-block;
        color: @darkGrey;
        margin-right: @margin;
        width: (@width - 170px);
        .sideMenu__link--fontSize;
        position: relative;
        top: 3px;
    }
}
.sideMenu__link--active {
  background: @purpleLight;
  color: @white;
  border-right: @borderSideMenuActive;
  padding: (@padding - 15px) @padding (@padding - 15px) (@padding - 5px);

  .fa {
    color: @greenNeon;
  }
}
.sideMenu__link--text {
    display: inline-block;
    vertical-align: top;
    padding-top: 0.25rem;
    text-decoration: none;
}
.sideMenu__link--style {
    color: @white;
    text-decoration: none;
    padding: (@padding - 15px) @padding;
    font-weight: @fontWeight;
    font-size: (@fontSize - 0.4rem);
   
}
.sideMenu__link--fontSize {
    font-size: @fontSize;
}
//Header
.header {
    margin-left:(@margin + 14rem);
    padding:(@padding - 15px);
    background-color:@white;

    .searchArea {

        display: inline-block;
        .fa--darkGrey;
        .searchArea__input--style {
            background: transparent;
            border: none;
            font-size: (@fontSize - 0.1rem);
            color: @greenNeon;
            padding: (@padding - 25px);
            font-weight: (@fontWeight - 14.3rem);
            width:(@width + 15.7rem);
            margin-left:1rem;
            transition: all 0.5s ease-in-out;

            &:hover {
                background: @lightGrey;
            }
        }

        textarea:focus, input:focus {
          outline: none;
        }
    }
    .userFieldArea {

        float: right;
        .badge{
            display: inline-block;
            font-size:(@fontSize - 0.7rem);
            text-align: center;
            position:relative;
            top:-9px;
            left:-13px;
        }
        .userFieldArea__link {
            display: inline-block;
            padding-right:(@padding - 25px);
            padding-top:(@padding - 20px);
            vertical-align: top;
            text-decoration: none;
            position: relative;
            margin-right:0.36rem;
        }
        .userFieldArea__link--color {
            .fa--darkGrey;
        }
        .userFieldArea__userImg {
            display: inline-block;
            margin-left:-1.07rem;
        }
        .userFieldArea__userImg--img {
           display: inline-block;
           position: relative;
           top:-1.8rem;
           margin-top:0.71rem;
           vertical-align: top;
           border-radius: 50%;
           width:(@width - 10.8);
        }
    }
    .fa {
        font-size: @fontSize;
    }
}
.fa--darkGrey {color: @darkGrey;}

// Content Area
.contentArea {
    margin-left: @width;
    padding:(@padding - 15px);

    .contentArea__heading--h1 {
        color: @purpleDark;
        font-size:@fontSize;
        font-weight: @fontWeight;
        margin-bottom: @margin;
    }
    .contentArea__heading--p {
        color: @darkGrey;
        font-size: (@fontSize - 0.6rem);
        margin-bottom: @margin;
    }
    .contentArea__cards--card {
        background: @white;
        border-radius: 5px;
        margin-left:1.07rem;
        margin-top:0.71rem;
        margin-bottom:1.4rem;

        .contentArea__school {
            width:33.33%;
            padding: 0 (@padding - 15px);
         }
    
         .contentArea__cards--userImg {
             padding: (@padding - 10px)(@padding + 30px);
             .userFieldArea__userImg--img {
                 border-radius: 50%;
                 margin:0 auto;
             }
         }
         .contentArea__cards--userName {
            font-size:(@fontSize - 0.4rem);
            color:@purpleDark;
            display: block;
            text-align: center;
         }
         .contentArea__cards--userTitle {
            font-size:(@fontSize - 0.5rem);
            display: block;
            text-align: center;
         }
    }
   
}
// === === General === === //
* {
    box-sizing: border-box;
}

// === === Media queries === === //
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {   

    .sideMenu {
       padding-right: 0;

       .sideMenu__link{
           
       }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}